.label {
  position: absolute;
  pointer-events: none;
  color: rgb(92, 10, 244);
  font-size: 12px; /* Reduced font size */
  font-family: Arial, sans-serif;
  height: 30px; /* Reduced height */
  width: 35x; /* Reduced width */
  border: solid;
  z-index: 100;
}
  .myinput{
    border-color: red;
    color: greenyellow;
  }
  .context-menu {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }
  