.label {
  position: absolute;
 
}
.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  padding: 5px;
  font-size: 12px;
  pointer-events: none; /* Ensures tooltips do not interfere with mouse events */
}

 